@import "tailwindcss";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #000;
  color: #fff;
}

.card {
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  background-color: #1a1a1a;
}

.title {
  font-size: 20px;
  font-weight: bold;
  color: #fff;
}

.button {
  padding: 10px 20px;
  border-radius: 5px;
  background-color: #007bff;
  color: #fff;
}

.contador {
  font-size: 20px;
  font-weight: bold;
  color: #fff;
}
